html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#081b29,#291908, black);
    color: white;
}
.main{
    background: linear-gradient(#081b29,rgba(0,0,0,0.5), rgba(0,0,0,0.6)) , url("coding1.jpg");
    background-size: cover;
    
    padding-bottom: 40px;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 100;
}

header nav a{
    margin-left: 45px;
    font-size: 18px;
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    transition: all 0.4s ease;
}
header nav a:hover,
header nav a.active{
    color: #00abf0;

}
header .logo{
    font-size: 25px;
    text-decoration: none;
    color: #ededed;
    font-weight: 600;
}
header .logo img{
    border-radius: 90px;
    height: 70px;
}
.flip{
    transform: rotateY(180deg);
}
.info{
    display: none;
}
.gone{
    display: none;
}
.back{
    display: block;
}
.inputBox{
    display: flex;
    justify-content: center;
    z-index: 100;
    box-shadow: 5px -5px 10px grey;
    width: min-content;
    width: 90%;
    max-width: 500px;
    bottom: -200px;
    position: fixed;
    transition: all 0.5s ease;
}
.chatShow{
    bottom: 0;
}
.intro{
    max-width: 600px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.intro h1{
    font-size: 56px;
    font-weight: 700;
}
.intro h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.intro p{
    font-size: 16px;
}
#introBox{
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-top: 70px;
    scroll-margin-top: 70px;
    background-position: left 45%;
    background-size: cover;
    
}
#introBox .imageBox{
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 70px;
    margin-left: 5%;
    background-color: #1a90e4;
    padding: 10px 10px 0 10px;
    border-radius: 50%;
    transition: all 0.5s ease;
    max-width: 340px;
    width: 90%;
    
}
#introBox img{
    border-radius: 30%;
    max-width: 340px;
    
}
.intro .socialLinks{
    margin: 15px 0 0 0;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.intro .socialLinks a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
    animation: 4s jump infinite;
}
.intro .socialLinks a{
    color: black;
    margin: 0;
    display:inline-block;
    line-height: 55px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: dodgerblue;
    transition: all 0.3s ease;
}
.intro .socialLinks a:hover{
    background-color: black;
    color: white;
}
#aboutMe{
    background: white;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 8%;
    gap: 40px;
    line-height: 35px;
    scroll-margin-top: 70px;
}
#aboutMe .image{
    margin-left: auto;
    margin-right: auto;
    height: 370px;
    overflow: hidden;
    border-radius: 20px;
}
#aboutMe img{
    height: 370px;
    width: 20%; 
    margin-right: 0px;
    float: left;
    transition: all 1.2s ease;
}
.slider{
    position: relative;
    width: 500%;
    animation: 20s slide infinite;
}


.intro .buttonsBox{
    margin-top: 15px;
}
.intro .checkOutButton{
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    background: dodgerblue;
    color: black;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    position: relative;
    animation: 3s jump infinite;
    transition: all 0.4s ease;
}
.intro .checkOutButton:hover{
    background-color: rgb(89, 89, 252);
}
.hamburger{
    display: none;
}
#services{
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 8%;
    gap: 40px;
    scroll-margin-top: 70px;
}
#portfolio{
    min-height: 400px;
    scroll-margin-top: 70px;
    background-color: white;
    background-color: #291908;
    
}
iframe{
    height: 500px; 
    max-width: 380px; 
    width: 100%;
    animation: 15s spin infinite;
    transform: rotateX(90deg);
}
.projectIcon{
    transform: rotateX(35deg);
    animation: 12s spin infinite;
    max-width: 100%;
}
#aboutMe .container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.cool{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.expertise-list {
    list-style: none;
    padding: 0;
}

.expertise-list li {
    margin-bottom: 10px;
}
#carouselExample{
    padding-top: 10px; 
    min-height: 500px;
    overflow-y: hidden;
}
.d-block h3{
    text-align: center;
}
#services .card img{
    height: 220px;
}
#portfolio .card img{
    height: 220px;
}
.card{
    transition: all 0.5s ease;
    backface-visibility: visible;
    overflow: hidden;
    background-color: transparent;
    border: none;
}
#services .card{
    cursor: pointer;
}
.cardBack{
    display: none;
    transform: rotateY(180deg);
    height: 252px;
}
#services .card:hover{
    box-shadow: 3px 3px 7px grey;
}

form input:hover{
    background-color: rgb(197, 248, 197);
}
form textarea{
    width: 100%;
    border-radius: 8px;
    height: 200px;
    padding: 13px;
}


footer{
    margin-top: auto;
    color: white;
    width: 100%;
    background-color: #081b29;
}
.footer1Container{
    margin: 25px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.footer1Container h3{
    font-family: 'Open Sans', sans-serif;
}
.footer1Container h2{
    font-family: 'Open Sans', sans-serif;
}
.footer1Container h1{
    font-family: 'Open Sans', sans-serif;
}
.footer1Container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.footer1Container a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: white;
}
.footer1Container .socialLinks a{
    color: white;
    margin:0px 10px 10px 10px;
    display:inline-block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    transition: all 0.3s ease;
}
.footer1Container .socialLinks a:hover{
    background-color: black;
}

@media (max-width: 900px){
    nav{
        background: #081b29;
        position: absolute;
        width: 100%;
        top: 70px;
        left: -100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
        transition: all 0.7s ease;
        padding: 20px 0 20px 0;
    }
    header nav a{
        margin-left: 0;
    }
    .show{
        left: 0;
    }
    #introBox .imageBox{
        margin: 40px auto 0 auto;
        order: 1;
    
        
    }
    #introBox{
        padding: 0;
        flex-wrap: wrap;
    }
    .intro{
        order: 2;
        margin: 5px 0 10px 5px;
        padding: 15px 55px;
        width: 100%;
        max-width: 800px;

    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .bun{
        transition: all 0.5s ease;
        display: block;
        height: 3px;
        width: 25px;
        background-color: aqua;
        margin: 5px auto;
    }
    .hamburger.active :nth-child(2){
        opacity: 0;
    }
    .hamburger.active :nth-child(1){
        transform: translateY(8px) rotate(405deg);
    }
    .hamburger.active :nth-child(3){
        transform: translateY(-8px) rotate(315deg);
    }
    #aboutMe .image{
        height: 280px;
        width: 100%;
    }
    #aboutMe{
        scroll-margin-top: 310px;
    }
    #services{
        scroll-margin-top: 310px;
    }
    #portfolio{
        scroll-margin-top: 310px;
    }
    #contact{
        scroll-margin-top: 310px;
    }
    #introBox{
        scroll-margin-top: 310px;
    }

    .card img{
        height: 210px;
    }
    .cardBack{
        height: 242px;
    }
    .contactImg{
        display: none;
    }
}
@media(max-width: 600px){
    #aboutMe img{
        height: 280px;
    }
    #aboutMe .image{
        height: 280px;
        max-width: 380px;
    }
    #introBox img{
        width: 100%;
        height: 355px;
    }
    #introBox{
        width: 100%;
    }
    .intro h1{
        font-size: 40px;
    }
}
@media(max-width: 460px){
    @keyframes peak{
        0%{
            right: -170px;
            transform: rotate(0deg);
        }
        70%{
            right: -85px;
            transform: rotate(-40deg);
        }
        95%{
            right: -85px;
            transform: rotate(-40deg);
        }
        100%{
            right: -85px;
            transform: rotate(-40deg);
        }
    }
    header .logo{
        font-size: 19px;
    }
    #aboutMe .image{
        height: 220px;
    }
    #contact{
        padding-left: 0;
        padding-right:0;
    }
    #aboutMe{
        padding-left: 0;
        padding-right: 0;
    }
    #services{
        padding-left: 0;
        padding-right: 0;
    }
    #portfolio{
        padding-left: 0;
        padding-right: 0;
    }
    #introBox{
        padding-left: 0;
        padding-right: 0;
    }
    
    .intro{
        padding-left: 5%;
        padding-right: 5%;
    }
    .robot{
        height: 150px;
        width: 150px;
    }
    .robotBox{
        bottom: 100px
    }
    iframe{
        height: 600px;
    }
    .projectIcon{
        height: 230px;
    }

}
@media(max-width: 350px){
    #aboutMe .image{
        height: 180px;
    }
    .intro h1{
        font-size: 38px;
    }
    .intro .socialLinks a{
        margin: 0 ;
        gap: 0;
    
    }
    #introBox img{
        width: 99%;
        height: 320px;
    }
}
@media (min-width: 1300px){
    .intro{
        max-width: 60%;
    }

}